<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">TinyApp</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">

    </nav>
  </div>
</header>
<% include ./_menu %>

<!-- <a class="mdl-navigation__link" href="">Login</a> -->
<div id="login">
  <% if (!username) { %>
    <div id="user-not-logged-in">
      <form action="/login" method="POST" id="login-form">
        <label for="username">Username</label>
        <input type="text" name="username" />
        <input type="submit" />
      </form>
    </div>
  <% } else { %>

    <div id="user-logged-in">
      <p><strong>Welcome</strong> <%= username %></p>
      <form action="/logout" method="POST" id="login-form">
        <input type="submit" value="Log Out" />
      </form>
    </div>
  <% } %>
</div>
