<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">TinyApp</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <!-- <a class="mdl-navigation__link" href="">Login</a> -->

      <!-- User is not logged in -->
      <% if (!username) { %>
        <div id="user-not-logged-in">
          <form action="/login" method="POST">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" /><br />
            <input type="submit" />
          </form>
        </div>
      <% } else { %>
        <!-- User is already logged in -->
        <div id="user-logged-in">
          <p>Welcome <%= username %></p>
          <!-- <form action="/logout" method="POST">
            <input type="submit" value="Log Out" />
          </form> -->
          <a href="#" id="logout">Logout</a>
        </div>
      <% } %>
    </nav>
  </div>
</header>
<% include ./_menu %>
