<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><a href="/">TinyApp</a></span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/urls/new">New Link</a>
  </nav>
</div>
