<!DOCTYPE html>
<html lang="en">
<% include ./partials/_head %>
<body>
  <% include ./partials/_header %>
  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Your content goes here -->

    <div id="content">
      <form action="/urls" method="POST" style="margin:150px;">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://">
        <input type="submit" value="Submit">
      </form>
    </div>
  </main>
  <% include ./partials/_footer %>
</body>
</html>
