<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tinyapp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="public/styles/main.css" />
</head>

<body>
    <% include ./partials/_header %>

    <dl>
      <% Object.keys(urls).forEach((key) => { %>
        <dt><%= key %></dt>
          <dd>
            <%= urls[key] %>
            <form method="POST" action="/urls/<%= key %>?_method=DELETE">
              <input type="submit" value="delete" style="display:inline"/>
            </form>
          </dd>
          <br />
      <% }); %>
    </dl>
</body>
</html>
