<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>

<body>
    <% include ./partials/_header %>
    <a href="/urls/new">Create a new link here</a>
    <dl>
      <% Object.keys(urls).forEach((key) => { %>
        <dt><%= key %></dt>
          <dd>
            <%= urls[key] %>
            <form method="POST" action="/urls/<%= key %>?_method=DELETE">
              <input type="submit" value="delete" style="display:inline"/>
            </form>
          </dd>
          <br />
      <% }); %>
    </dl>
</body>
</html>
