<!DOCTYPE html>
<html lang="en">
<% include ./partials/_head %>
<body>
  <% include ./partials/_header %>
  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Your content goes here -->
    <div id="content">
        <h2>Short URL: <%= shortURL %></h2>
        <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
          <input id="longURL" type="text" name="longURL" placeholder="http://" />
          <input type="submit" value="Update" />
        </form>
    </div>
  </div>
</main>
<% include ./partials/_footer %>
</body>
</html>
