  body {
    margin: 10px;
  }

  #content {
    margin-left: 20px;
  }

  dl {
    margin: 20px;
  }

  dt {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
  }

  dd {
    display: inline-block;
    margin: 10px 15px;
  }

  form {
    display: inline;
    margin: 0px 5px;
  }

  input[type=text] {
    width: 300px;
  }

  input[value=Delete] {
    display: inline;
    padding: 0px;
    font-size: 10px;
    background: none;
    color: red;
    border: 0px;
  }

  .edit-link {
    font-size: 10px;
  }
